# Repaso de estructuras básicas de programación

## Sintaxis y control de flujo

In [57]:
a = 2
b = 3

In [58]:
a

2

In [59]:
b

3

### if - else

In [60]:
condicion = False

if(condicion == True) :
    print("Flujo 1")
else :
    print("Flujo 2")

Flujo 2

### bucle/ciclo

In [61]:
contador = 0

while(contador < 5) :
    print("Estoy en la iteración " + str(contador))
    contador += 1 # contador = contador + 1

Estoy en la iteración 0
Estoy en la iteración 1
Estoy en la iteración 2
Estoy en la iteración 3
Estoy en la iteración 4

In [62]:
for contador in range(5) :
    print("Estoy en la iteración " + str(contador))

Estoy en la iteración 0
Estoy en la iteración 1
Estoy en la iteración 2
Estoy en la iteración 3
Estoy en la iteración 4

In [63]:
for contador in range(10) :
    if (contador%2 == 0) :
        print("Estoy en la iteración " + str(contador))

Estoy en la iteración 0
Estoy en la iteración 2
Estoy en la iteración 4
Estoy en la iteración 6
Estoy en la iteración 8

## Operadores

### Matemáticos

In [64]:
a = 2
b = 3

a + b

5

In [65]:
a - b

-1

In [66]:
a*b

6

In [67]:
a**b

8

In [68]:
a/b

0.6666666666666666

In [69]:
a%b # residuo de 2/3

2

### Booleanos

In [70]:
a = 2
b = 3

a == b

False

In [71]:
a != b

True

In [72]:
a > b

False

In [73]:
a < b

True

In [74]:
a >= b

False

In [75]:
a <= b

True

## Hilos

In [76]:
hilo1 = "Un ejemplo de hilo."

print(hilo1)

Un ejemplo de hilo.

In [77]:
hilo2 = "Otro ejemplo de hilo."

print(hilo2)

Otro ejemplo de hilo.

In [78]:
hilo1 + " " + hilo2

'Un ejemplo de hilo. Otro ejemplo de hilo.'

In [79]:
import numpy as np
print(np.pi)

3.141592653589793

In [80]:
print("El valor de pi es: " + str(np.pi))

El valor de pi es: 3.141592653589793

## Listas

In [81]:
a = [1, 2, 3]
b = [4, 5, 6]

In [82]:
print(a)

[1, 2, 3]

In [83]:
print(b)

[4, 5, 6]

In [84]:
a + b

[1, 2, 3, 4, 5, 6]

In [85]:
a.append(6)
a.append(5)
a.append(4)

print(a)

[1, 2, 3, 6, 5, 4]

In [86]:
a[3]

6

In [87]:
a[5]

4

In [88]:
a[-1]

4

In [89]:
a[-2]

5

In [90]:
3 in b

False

In [91]:
3 in a

True

In [92]:
if (5 in a) :
    print("Sí. Hay un 5 en a")

Sí. Hay un 5 en a

In [93]:
lista_de_hilos = ["hilo1", "hilo2", "hilo3"]
print(lista_de_hilos)

['hilo1', 'hilo2', 'hilo3']

In [94]:
lista_mezclada = ["hilo", 4, np.pi]
print(lista_mezclada)

['hilo', 4, 3.141592653589793]

In [95]:
lista_de_listas = []
lista_de_listas.append(a)
lista_de_listas.append(b)
lista_de_listas.append(lista_de_hilos)
lista_de_listas.append(lista_mezclada)
print(lista_de_listas)

[[1, 2, 3, 6, 5, 4], [4, 5, 6], ['hilo1', 'hilo2', 'hilo3'], ['hilo', 4, 3.141592653589793]]

In [96]:
lista_de_listas[-1][0]

'hilo'

## Diccionarios

In [97]:
d = {0 : "Elemento con llave cero",
     1 : "Elemento con llave uno"}
print(d)

{0: 'Elemento con llave cero', 1: 'Elemento con llave uno'}

In [98]:
d[0]

'Elemento con llave cero'

In [99]:
d = {0 : "Elemento con llave cero",
     1 : "Elemento con llave uno",
    "hilo": np.pi}

In [100]:
d["hilo"]

3.141592653589793

## Funciones

In [101]:
def funcion1() :
    print("Estoy dentro de la función 1.")

funcion1()

Estoy dentro de la función 1.

In [102]:
def funcion_con_parametros(a, b, c) :
    print(a + b + c)
    
funcion_con_parametros(10, 15, 20)

45

In [105]:
funcion_con_parametros(10, 15, 20)

45

In [106]:
def funcion_con_parametros_predefinidos(a=1, b=10, c=100) :
    print(a + b + c)

funcion_con_parametros_predefinidos()

111

In [107]:
funcion_con_parametros_predefinidos(b=50)

151

In [108]:
b

[4, 5, 6]

## Lectura rápida de archivos

In [109]:
import pandas as pd
data = pd.read_excel("datosPE.xlsx")

In [110]:
data

    ID Persona  Peso  Estatura
0            1    67      1.41
1            2    99      1.83
2            3    86      1.90
3            4   118      1.65
4            5   109      1.67
..         ...   ...       ...
95          96    88      1.49
96          97    98      1.54
97          98    95      1.57
98          99    61      1.61
99         100   107      1.62

[100 rows x 3 columns]

In [111]:
data.columns

Index(['ID Persona', 'Peso', 'Estatura'], dtype='object')

In [112]:
data["Peso"]

0      67
1      99
2      86
3     118
4     109
     ...
95     88
96     98
97     95
98     61
99    107
Name: Peso, Length: 100, dtype: int64

In [113]:
data["Peso"].sum()

8558

In [114]:
data["Estatura"]

0     1.41
1     1.83
2     1.90
3     1.65
4     1.67
      ...
95    1.49
96    1.54
97    1.57
98    1.61
99    1.62
Name: Estatura, Length: 100, dtype: float64

In [115]:
data["Estatura"].mean()

1.6610999999999998

In [116]:
data["Peso en libras"] = data["Peso"]*2.205

In [117]:
data

    ID Persona  Peso  Estatura  Peso en libras
0            1    67      1.41         147.735
1            2    99      1.83         218.295
2            3    86      1.90         189.630
3            4   118      1.65         260.190
4            5   109      1.67         240.345
..         ...   ...       ...             ...
95          96    88      1.49         194.040
96          97    98      1.54         216.090
97          98    95      1.57         209.475
98          99    61      1.61         134.505
99         100   107      1.62         235.935

[100 rows x 4 columns]

In [118]:
data.to_excel("ejemplo_con_libras.xlsx")

# TAREA A01

In [119]:
lista1 = list()
for i in range (1,101,1):
    numero = i*3
    lista1.append(numero)
lista1

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99,
 102,
 105,
 108,
 111,
 114,
 117,
 120,
 123,
 126,
 129,
 132,
 135,
 138,
 141,
 144,
 147,
 150,
 153,
 156,
 159,
 162,
 165,
 168,
 171,
 174,
 177,
 180,
 183,
 186,
 189,
 192,
 195,
 198,
 201,
 204,
 207,
 210,
 213,
 216,
 219,
 222,
 225,
 228,
 231,
 234,
 237,
 240,
 243,
 246,
 249,
 252,
 255,
 258,
 261,
 264,
 267,
 270,
 273,
 276,
 279,
 282,
 285,
 288,
 291,
 294,
 297,
 300]

In [120]:
data["IMC"] = data["Peso"]/data["Estatura"]**2
data

    ID Persona  Peso  Estatura  Peso en libras        IMC
0            1    67      1.41         147.735  33.700518
1            2    99      1.83         218.295  29.561946
2            3    86      1.90         189.630  23.822715
3            4   118      1.65         260.190  43.342516
4            5   109      1.67         240.345  39.083510
..         ...   ...       ...             ...        ...
95          96    88      1.49         194.040  39.637854
96          97    98      1.54         216.090  41.322314
97          98    95      1.57         209.475  38.541117
98          99    61      1.61         134.505  23.533043
99         100   107      1.62         235.935  40.771224

[100 rows x 5 columns]

In [130]:
data2 = pd.read_excel("datosCT.xlsx")
data2

    Unnamed: 0  Ingreso  Gasto
0        Enero     1340   1880
1      Febrero     2590   3130
2        Marzo     3570   2140
3        Abril     4450   3370
4         Mayo     1330   2990
5        Junio     1610   1970
6        Julio     1500   2230
7       Agosto     2270   1240
8   Septiembre     1910   1470
9      Octubre     2120   2280
10   Noviembre     3950   1870
11   Diciembre     1380   3140

In [131]:
data2["Utilidad"] = data2["Ingreso"]-data2["Gasto"]
data2

    Unnamed: 0  Ingreso  Gasto  Utilidad
0        Enero     1340   1880      -540
1      Febrero     2590   3130      -540
2        Marzo     3570   2140      1430
3        Abril     4450   3370      1080
4         Mayo     1330   2990     -1660
5        Junio     1610   1970      -360
6        Julio     1500   2230      -730
7       Agosto     2270   1240      1030
8   Septiembre     1910   1470       440
9      Octubre     2120   2280      -160
10   Noviembre     3950   1870      2080
11   Diciembre     1380   3140     -1760

In [145]:
contador = 0
suma = 0
for e in range(12):
    Utilidad = data2.iloc[e,-1]
    if(Utilidad<0):
        contador += 1
        suma += Utilidad
Promedio = suma/contador
print(Promedio)

-821.4285714285714

In [147]:
IngresosTotal = data2["Ingreso"].sum()
IngresosTotal

28020